* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

nav {
    flex-direction: column;
    align-items: center;
}

body {
    color: #fff;
    background-color: #6495ED;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

a {
    position: relative;
    color: #fff;
    top: -30px;
}

a:hover {
    text-decoration: underline;
}

.cadastro {
    margin-top: 24px;
}

button {
    left: -58px;
    color: #fff;
    border: none;
    width: 132px;
    height: 42px;
    border-radius: 10px;
    background-color: #EDBC64;
}

button:hover {
    background-color: rgb(74, 130, 204);
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 4px;
    border: none;
    width: 50%;
    height: 42px;
    margin: 5px;
}

input[placeholder] {
    padding-left: 10px;
    text-align: left;
}

input:focus {
    outline: none !important;
    border: 1px solid rgb(33, 224, 208);
    box-shadow: 0 0 10px #719ECE;
}

.link_cad {
    margin: 10px;
}

.link_cad:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}