* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

body {
    font-family: 'Montserrat', 'Roboto';
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    background-color: #6495ED;
    display: flex;
    color: #fff;
    height: 61px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main>section>button {
    width: 25px;
    height: 25px;
    position: relative;
    left: -34px;
    top: -12px;
}

button {
    border-radius: 5px;
    color: #fff;
    background-color: #EDBC64;
    width: 97px;
    height: 30px;
    margin-right: 10px;
}

.avatar {
    width: 49px;
    height: 46px;
    margin: -36px;
    margin-top: -37px;
}

.avatar-position {
    margin-top: 4px;
    font-size: 16px;
    margin-right: -73px;
    margin-left: 113px;
}

.logo-title {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 16px;
    margin-left: 10px;
}

img {
    /* display: flex; */
    /* margin-left: 15px; */
    margin-top: 10px;
    width: 71px;
    height: 70px;
    border-radius: 100px;
    margin-top: -3px;
    margin-right: 175px;
}

textarea {
    padding-left: 10px;
    -webkit-box-shadow: 1px 4px 11px 5px rgb(0 0 0 / 45%);
    box-shadow: 1px 4px 11px 5px rgb(0 0 0 / 45%);
    resize: none;
    width: 601px;
    height: 97px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#post-area {
    margin-top: 10px;
    text-align: center;
}

#post-section {
    width: 564px;
}

#info-post {
    font-size: 12px;
    margin-left: 48px;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
}

#image-post {
    margin-left: 6px;
    margin-top: 10px;
}

.class-post>img {
    margin-left: 8px;
    width: 71px;
    height: 70px;
    border-radius: 100px;
}

a {
    text-decoration: none;
}

.edit {
    color: rgb(0, 26, 255);
}

.del {
    color: red;
}

.btn_red {
    background-color: red;
}

.btn_blue {
    background-color: blue;
}

.container-one {
    display: flex;
    margin-left: 162px;
    flex-direction: column;
}

.btn_div {
    width: 100px;
    display: flex;
    /* margin-left: 203px; */
    margin-right: -17px;
    flex-direction: column;
    margin-bottom: 10px;
    /* height: 50px; */
    justify-content: flex-end;
}

.btn_div>button {
    color: #9b1111;
    background-color: #ffffff;
}

.div-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 13px;
    margin-top: 7px;
}

.div-text>h1 {
    margin-bottom: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.div-text>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #5F5C5C;
}

.class-post>p {
    margin-top: 53px;
}

.btn_div>p {
    font-size: 12px;
    margin-bottom: 7px;
    margin-top: 16px;
    margin-left: 3px;
}

.img-post {
    margin-left: -3px;
    margin-top: 4px;
    width: 71px;
    height: 70px;
    border-radius: 100px;
    margin-top: 5px;
    margin-right: 1px;
    left: 162px;
}

.user-title {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.class-post {
    background-color: #fff;
    margin: 20px;
    -webkit-box-shadow: 0px 6px 9px 1px rgb(0 0 0 / 83%);
    box-shadow: 0px 6px 9px 1px rgb(0 0 0 / 83%);
    margin-left: -40px;
    display: flex;
    flex-wrap: nowrap;
    width: 601px;
    justify-content: space-evenly;
    flex-direction: row;
}

.div-span {
    height: 50px;
}

.btn_user {
    visibility: hidden;
}

.modal {
    border-radius: 10px;
    border-radius: 10px;
    width: 600px;
    background-color: rgb(201, 53, 53);
    position: fixed;
    top: 172px;
    left: 359px;
    height: 187px;
}

.modal>p {
    margin-top: 10px;
    text-align: center;
}

.modal>input {
    width: 300px;
    margin-left: 149px;
    /* text-align: center; */
    margin-top: 45px;
    height: 20px;
}